<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<form [formGroup]="registerForm" style="padding:20px" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div style="padding:20px" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Registration</h3>
        </div>
        <div class="panel-body">
    
                <div class="form-group" [ngClass]="{'has-error': ((registerForm.get('FirstName').touched ||
                        registerForm.get('FirstName').dirty) &&
                             registerForm.get('FirstName').errors)}">
                     <label  class="control-label" for="FirstName">First Name</label>
                     <input type="text" formControlName="FirstName" class="form-control" />
                     <span class="help-block"
                        *ngIf="((registerForm.get('FirstName').touched ||
                                registerForm.get('FirstName').dirty) &&
                                registerForm.get('FirstName').errors)">
                     <span *ngIf="registerForm.get('FirstName').errors.required">
                         First Name is required
                     </span>
     
                     </span>
                </div>
                <div class="form-group" [ngClass]="{'has-error': ((registerForm.get('LastName').touched ||
                        registerForm.get('LastName').dirty) &&
                        registerForm.get('LastName').errors)}">
                     <label class="control-label" for="LastName">Last Name</label>
       
                     <input type="text" formControlName="LastName" class="form-control" />
       
                     <span class="help-block"
                        *ngIf="((registerForm.get('LastName').touched ||
                                registerForm.get('LastName').dirty) &&
                                registerForm.get('LastName').errors)">
                     <span *ngIf="registerForm.get('LastName').errors.required">
                         Last Name is required
                     </span>
     
                     </span>
   
                </div>
    <div class="form-group" [ngClass]="{'has-error': ((registerForm.get('Email').touched ||
            registerForm.get('Email').dirty) &&
            registerForm.get('Email').errors)}">
        <label class="control-label" for="Email">Email</label>
        <input type="text" formControlName="Email" class="form-control" />
        <span class="help-block"
        *ngIf="((registerForm.get('Email').touched ||
                registerForm.get('Email').dirty) &&
                registerForm.get('Email').errors)">
     <span *ngIf="registerForm.get('Email').errors.required">
         Email is required
     </span>
     <span *ngIf="registerForm.get('Email').errors.email">
            Email is not valid
     </span>

     </span>
    </div>
    <div class="form-group" [ngClass]="{'has-error': ((registerForm.get('Password').touched ||
            registerForm.get('Password').dirty) &&
            registerForm.get('Password').errors)}">
        <label class="control-label" for="Password">Password</label>
        <input type="Password" formControlName="Password" class="form-control" />
        <span class="help-block"
        *ngIf="((registerForm.get('Password').touched ||
                registerForm.get('Password').dirty) &&
                registerForm.get('Password').errors)">
         <span *ngIf="registerForm.get('Password').errors.required">
            Password is required
        </span>
        <span *ngIf="registerForm.get('Password').errors.pattern">
             Password must be atleast 8 character long and have atleast one special character, letter and number
            </span>
    </span>
    </div>
    <div class="form-group">
        <recaptcha formControlName="recaptchaReactive"></recaptcha>
    </div>
    <div class="form-group">
        <button [disabled]='!registerForm.valid' type="submit" class="btn btn-primary">Register</button>
       
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
    </div>
    </div>
</form>
<!-- <recaptcha
          [(ngModel)]="myRecaptcha"
          (scriptLoad)="onScriptLoad()"
          (scriptError)="onScriptError()"
        ></recaptcha> -->
